@model EPiServer.Commerce.Order.IPaymentMethod
@Html.HiddenFor(model => model.SystemKeyword)
<div id='PaymentPayPal'>
    <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark">
    <span class="text-error">@ViewBag.Message</span>
</div>